// Colors
$white: #fff !default;
$black: #000 !default;
$gray100: #f6f3f2 !default;
$gray200: #eef2f5 !default;
$gray300: #edeeef !default;
$gray400: #dddddd !default;
$gray500: #cccccc !default;
$gray600: #999999 !default;
$gray700: #888888 !default;
$gray800: #666666 !default;
$blue100: #b2e5f1 !default;
$blue200: #00aad2 !default;
$blue300: #002c5f !default;

// Size
$maxWidth: 80rem;

// Elements
$fontColor100: $gray500;
$fontColor200: $gray600;
$fontColor300: $gray800;
$logoColor: $blue300;

// Elements
// $bg: $white !default;
// $bg-dark: $gray-500 !default; // example
// $cont-bg: $white !default;
// $text-color: $black !default;
// $listheader-bg: #9faab7 !default;
// $headertop-bg: $color-primary2 !default;
// $gnb-bg: $white !default;
// $footer-bg: $black !default;
// $cntBar-color: #7e97f8 !default;
// $vehicleBar-color: #59cfd9 !default;
// $validation-color: #cb5258 !default;
// $hover-color: #eff5fb !default;
